In [1]:
import pandas as pd
import os
import numpy as np
from scipy.special import softmax
%matplotlib inline

In [5]:
df=pd.read_csv("..\\zero_shot_results.csv",index_col=0)

In [6]:
df.head()

,text,zero_shot_results
0,Augmented reality makes the fascination of Por...,"[['E1', 0.7220102222839275], ['G1', 0.71524239..."
1,"and encourage you, to confront, challenge and ...","[['G1', 0.8015816391728678], ['S1', 0.78516396..."
2,"For inspiration, consider the information re g...","[['G1', 0.778702979521703], ['E1', 0.766616316..."
3,The second volume is called Performance and co...,"[['E1', 0.7990585559707437], ['G1', 0.77521606..."
4,"The two volumes may be different, but they hav...","[['E1', 0.7515421306686216], ['S3', 0.74250828..."

In [48]:
formated_results=[]

for i in range(0,len(df)):
    row_results=[]
    for j in range(0,10):
        row_results.append([df.at[i,"zero_shot_results"].split("],")[j][3:5],float(df.at[i,"zero_shot_results"].split("],")[j][7:22])])
    formated_results.append(row_results)

In [95]:
softmax_array=[]

In [96]:
for i in range(0,len(formated_results)):
    array=[]
    for j in range(0,10):
        array.append(formated_results[i][j][1])
    softmax_array.append(softmax(array))

In [99]:
top_results=[]

In [101]:
for i in range(0,len(formated_results)):
    top_results.append([formated_results[i][0][0],formated_results[i][0][1],softmax_array[i][0]])

In [102]:
top_results_df=pd.DataFrame(top_results,columns=["Label","sim_score","softmax"])

In [103]:
top_results_df.head()

  Label  sim_score   softmax
0    E1   0.722010  0.101771
1    G1   0.801582  0.104811
2    G1   0.778703  0.103001
3    E1   0.799059  0.103728
4    E1   0.751542  0.101490

In [113]:
best_data=top_results_df[(top_results_df["softmax"]>top_results_df.softmax.quantile(0.8)) & (top_results_df["sim_score"] > top_results_df.sim_score.quantile(0.8))]

In [114]:
best_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18595 entries, 90 to 149079
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Label      18595 non-null  object
 1   sim_score  18595 non-null  float64
 2   softmax    18595 non-null  float64
dtypes: float64(2), object(1)
memory usage: 581.1+ KB

In [116]:
best_data.groupby("Label").max()

       sim_score   softmax
Label
E1      0.890047  0.110849
E2      0.847255  0.107251
E3      0.855024  0.107304
E4      0.867358  0.110038
E5      0.864630  0.109988
G1      0.882517  0.112392
S1      0.873215  0.109912
S2      0.872399  0.108985
S3      0.845615  0.105721
S4      0.847508  0.106650